<% if (notice) { %>
    <p><%= notice %></p>
<% } else {%>
    <h2><%= author.firstName %> <%= author.lastName %></h2>
    <p><%= author.lastName %> Nació en  <%= author.birthDate %>, ... </p>

<% } %>