<div>
    <% if (locals.notice) { %>
      <div className="notice"><%= notice %></div>
    <% } %>
    <% if (locals.error) { %>
      <div class="login-error">
        <p class="error"><%= error %></p>
        
      </div>
    <% } %>
  
    <div class="login-wrapper">
      
      <h1>Registrarse</h1>
      <form action="<%= userCreatePath %>" method="post">
        <input type="hidden" name="_method" value="post" />
        <input type="email" name="email" value="<%= locals.email %>" placeholder="Email" />
        <input type="password" name="password" value="<%= locals.password %>" placeholder="Contraseña"/>
        <input type="submit" name="sign-up" value="Sign Up" />
      </form>  
    </div>